site_name: NashMesh

# Navigation
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - MQTT: mqtt.md
  - Infrastructure Nodes: resources/infrastructure-nodes.md
  - High SNR Connections: resources/connections.md
  - Affiliate Links: resources/affiliate.md
  - Discord: https://discord.gg/sSS8gEpuh8

# Theming
theme:
  name: material

  palette:
    scheme: slate

  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
# Plugins
plugins:
  - search
  - macros


# Extensions
markdown_extensions:
  - attr_list
  - md_in_html
  - def_list
  - admonition
  - tables
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

extra_css:
  - static/styles/leaflet.css
  - static/styles/extra.css

extra_javascript:
  - static/js/malla.js
  - static/js/leaflet.js
  - static/js/heatmap.js
  - static/js/leaflet-heatmap.js

extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/sSS8gEpuh8
      name: Join our Discord
